body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .colorLink {
    width: 40px;
    height: 40px;
    display: 'inline-block';
    float: right;
    border:'1px solid black';
    border-radius:5px;
  }

  .colorLink svg {
    width: 20px;
    height: 20px;
  }

  .history-color {
    display: inline-block;
  }